---

---

<section  
    itemscope
    itemtype="https://schema.org/Person"
    class="flex flex-col md:flex-row-reverse items-center md:justify-evenly md:h-[calc(100vh-56px)] w-full bg-gradient-to-br from-fond-primaire via-fond-hero to-fond-secondary"
    aria-label="Accueil">
    Test
</section>