---
import type { HTMLAttributes } from "astro/types";

export interface BtnProps extends HTMLAttributes<"a">{
    href: string;
    label: string
    itemProp: string
}

const { href, label, itemProp} = Astro.props as BtnProps
---
<button itemprop={itemProp} class="px-2 py-1 md:py-2 bg-primaire text-action text-md md:text-lg rounded-full w-40">
    <a href={href}>
        {label}
    </a>
</button>